.ant-modal-wrap {
    .ant-modal{
        width:700px;
    }
}
.data-class-overKnow{
    width:85%;
    height:95%;
    padding:1.25%;
    margin-top: 52px;
    margin-left: 15%;
    overflow-y: auto;
   .ant-form{
           width: 60%;
           margin-left: 4%;
           padding-top: 2%
           /* margin: auto; */
           // transform: translate(-50%,-50%);
   }
}
.tipMapDiv{width:33.3%;text-align: center;margin-top: 8px;}
.tipBg{width: 204px;height: 40px;position: absolute;top: 26px;right:26px;background: url("./tipBg.png");display: inline-flex;}
.tipMapSpan{font-size: 12px;color: #fefefe;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;margin-left: 6px;}
.tipMapImage{vertical-align: middle;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.tipMapDiv:hover{cursor: pointer;}
.tipMapDiv:hover .tipMapImage,.tipMapDiv:hover .tipMapSpan{filter:alpha(Opacity=100);-moz-opacity:1;opacity: 1;}