.updatePwd{
    float:left;
    width:85%;
    height:99%;
    position: relative;
    padding:.5%;
    margin-top: 52px;
    margin-left: 15%;
    .updatePwd_Content{
        .ant-form{
            position: absolute;
            top: 50%;
            left:50%;
            bottom: 0;
            right: 0;
            width: 50%;
            /* margin: auto; */
            transform: translate(-50%,-50%);
        }
    }
}